/* For the main page/body */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* For the main page/body in WebKit browsers (Chrome, Safari, Opera) */
html::-webkit-scrollbar {
  display: none;
}

/* For a specific container with a class 'scroll-container' */
.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #765e4c;
  overflow: hidden;
}
.main-container {
  font-family: "Lexend", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  overflow-y: hidden;
}

.fa-truck-fast {
    color: #493628;
    font-size: 100px;
}
.thank-title {
    margin-bottom: 0;
    font-size: 40px;
}
.purchase-title {
    margin-top: 0;
}


.thankyou-card {
    color: #493628;
  gap: 5px;
  width: 500px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #d6c0b3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  font-size: 50px;
  color: #493628;
}



.btn {
  font-family: "Lexend", sans-serif;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #e4e0e1;
  background-color: #493628;
  margin: 10px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #493628;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #765e4c;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #493628;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.slider-cont {
    overflow: hidden;
}


.slider {
  width: 500vw;
  height: 1000px;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: 1080px;
  height: 720px;
  width: calc(1095px * 10); /* image width × total images */
  animation: scroll 40s linear infinite;
}

.slide-track img {
  filter: blur(5px) brightness(70%);
  width: 2000px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
